$primary-color: #49243e;
$secondary-color: #704264;
$tertiary-color: #bb8493;
$quaternary-color: #dbafa0;

body {
  font-family: "Roboto", sans-serif;
  background-color: $primary-color;
}

.btn {
  padding: 10px;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  width: 18rem;
  height: 4rem;
  font-size: 1.2rem;
}

.App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: $secondary-color;
  color: white;
  padding: 20px;
  flex: 0 1 auto;

  a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
  }
}
footer {
  background-color: rgb(22, 22, 22);
  color: white;
  padding: 20px;
  flex: 0 1 auto;
  a {
    text-decoration: none;
    color: white;
  }
}
.home-container {
  flex-grow: 1;

  color: $quaternary-color;
  a {
    color: $tertiary-color;
  }
  .img-container {
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    background-image: url("./images/HeroBg.jpg");
  }
  button {
    background-color: $tertiary-color;
    color: $primary-color;
    margin-bottom: 2rem;
  }
}
