@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Goudy+Bookletter+1911&family=Inter&display=swap");
$primary-color: #a9b388;
$secondary-color: #b99470;
$tertiary-color: #5f6f52;
$quaternary-color: #fefae0;
$primary-font: "Goudy Bookletter 1911", serif;
$secondary-font: "Coiny", "system-ui";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // font-family: $secondary-font;
  background-color: $primary-color;
  h1,
  h2,
  p {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-family: $primary-font;
  }
  button {
    font-family: $secondary-font;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  }
}

.App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: $secondary-color;
  color: white;
  padding: 20px;
  flex: 0 1 auto;
  font-family: $secondary-font;
  font-size: 1.4rem;
  height: 80px;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);

  a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
  }
}
footer {
  background-color: rgb(65, 65, 65);
  color: white;
  padding: 10px;
  flex: 0 1 auto;
  font-family: $secondary-font;

  a {
    text-decoration: none;
    color: white;
  }
}

// HOME SECTION
.home-section {
  flex-grow: 1;

  color: $quaternary-color;
  a {
    color: $tertiary-color;
  }
  h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    color: $tertiary-color;
  }
  p {
    font-size: 1.5rem;
  }
  .img-container {
    background-repeat: no-repeat;
    background-size: cover;
    // height: 20rem;
    // width: 100%;
    background-image: url("./images/HeroBg.jpg");
  }
  button {
    background-color: $secondary-color;
    color: $quaternary-color;
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: 300px;
    height: 70px;
  }
  button:hover {
    background-color: $tertiary-color;
    color: $secondary-color;
  }
  .main-row {
    width: 100%;
  }
}
// BOOK SECTION
.book-section {
  flex: 1; // background-color: $tertiary-color;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    li {
      margin-right: 5px;
      padding: 5px 5px;
      border-radius: 5px;
      background-color: $quaternary-color;
    }
  }
  .clear-filter {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: gray;
  }
  .book-card {
    border-radius: 5px;
    background-color: $quaternary-color;

    // width: 310px;
    // height: 500px;
    // overflow: hidden;
    h4 {
      // to prevent title from changing the height
      white-space: nowrap; /* Prevent text from wrapping */
      overflow: hidden;
      text-overflow: ellipsis; /* Truncate text with ellipsis if it overflows */
      font-family: $primary-font;
      color: $tertiary-color;
    }
    img {
      width: 150px;
      height: 220px;
      border-radius: 10px;
    }
    .book-card_price {
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 1.1rem;
    }
    .book-card_genre {
      background-color: $primary-color;
      margin: 0 1px;
      border-radius: 5px;
      padding: 5px;
      color: $quaternary-color;
      font-weight: bold;
    }

    button {
      width: 100%;
      border-radius: 3px;
      font-weight: normal;
      font-size: 1rem;
      padding: 5px;
      height: 2rem;
      background-color: $tertiary-color;

      color: $quaternary-color;
    }
    button:hover {
      background-color: $secondary-color;
    }
  }
}

// ABOUT SECTION
.about-section {
  flex: 1;
}
